img.rounded-circle {
  height: 35px;
  width: 35px;
}

.buttonSignIn {
  background-color: #f081a8;
  font-size: 1em;
  border-radius: 15px;
  color: white;
  transition-duration: .4s;
  margin-bottom: 15px;
}