<div>
  <section class="row">
    <section class="leftWelcome col-6 d-none d-md-block">
      <div class="wrap-messages">
        <div class="row one">
          <strong>
            <i class="fas fa-female"></i>
            <i class="fas fa-female"></i> Construye redes de apoyo</strong>
        </div>
        <div class="row two">
          <strong>
            <i class="fas fa-calendar-alt"></i> Enterate de eventos</strong>
        </div>
        <div class="row tree">
          <strong>
            <i class="fas fa-comments"></i> Unete a la conversación</strong>
        </div>
      </div>
    </section>
    <section class="rightWelcome align-self-xl-center col-sm-9 col-md-6 col-xl-6">
      <div class="logo-first">
        <img src="../../assets/images/logo.png" class="img-fluid" alt="Responsive image">
      </div>
      <p class="messageOne col-sm-12 col-6 font-weight-bold">Únete hoy a la primera Red Social feminista</p>
      <div class="row">
        <button class="btn mx-auto col-sm-3 col-md-8 col-xl-6 font-weight-bold buttonSignIn" style="width: 200px;"
          data-toggle="modal" data-target="#exampleModalCenter">Registrate</button>
      </div>
      <div class="row">
        <button class="btn mx-auto col-sm-3 col-md-8 col-xl-6 font-weight-bold buttonLogin" style="width: 200px;"
          data-toggle="modal" data-target="#exampleModalCenter2">Iniciar
          Sesión</button>
      </div>
    </section>
  </section>

  <!-- Modal Registro -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Regístrate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="email" name="email" aria-describedby="emailHelp" placeholder="Correo electrónico">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password" name="password" placeholder="Contraseña">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-outline-info" (click)="onSubmitAddUser()">Registrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Sign In -->
  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Iniciar sesión</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail2">Correo electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Correo electrónico">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword2">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Contraseña">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-outline-info" (click)="onSubmitOldUser()">Iniciar Sesión</button>
        </div>
      </div>
    </div>
  </div>
</div>